<section class="w-full h-70 bg-green-800 rounded-b-2xl shadow-lg flex">
    <img [src]="imageHeader" class="w-full h-70 rounded-b-2xl opacity-15 absolute z-0" >

    <div class="z-1 relative px-6 w-full pt-15">
        
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col items-start">
                <h3 class="text-white font-bold text-lg">Bem vindo,</h3>
                <h3 class="text-white text-lg">Cb PM Fulano</h3>
            </div>
            <img [src]="imagePoliceman" class="h-20">
        </div>

        <div class="flex flex-row items-center justify-between mt-9">
            <h3 class="text-white text-lg">VTR conectada:</h3>
            <h3 class="text-white font-bold text-lg">RP-0001</h3>
        </div>

    </div>

</section>